.tableForm{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 1050px;
    background-color: #13151C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;
    .playerInfoWrapper{
        display: flex;
        flex-direction: row;
        .playerImage{
            height: 200px;
            width: 175px;
            border:none;
            border-radius: 10px;
            overflow: hidden;
            .playerImg{
                height:300px;
                width: 175px;
            }
        }
        .playerInformation{
            font-size: 15px;
            margin-left: 50px;
            margin-top: 5px;
            .nameClub{
                display: grid;
                // flex-direction: row;
                grid-template-columns: auto auto;
                .playerName{
                    font-size: 25px;
                }
                .currentClub{
                    margin: auto;
                    margin-left: 15px;
                }
            }
            .age{
                margin-top: 5px;
            }
            .position{
                display: flex;
                flex-direction: row;
                // grid-template-columns: auto auto;
                margin-top: 5px;
            }
            .debutYear{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
            }
            .previousClub{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
            }
            .achievements{
                display: flex;
                flex-direction: auto auto auto;
                margin-top: 5px;
                .total_goals{
                    // margin-left: 5px;
                }
                .total_assists{
                    margin-left: 12px;
                }
                .total_freekicks{
                    margin-left: 12px;
                }
            }
        }
    }
    .toggleButton{
        font-size: 10px;
        margin-bottom: 50px;
    }
    .heading{
        color:#6b6c6e;
    }
    .value{
        margin-left: 10px;
    }
}


.cardForm{
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 250px;
    background-color: #13151C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    font-family: var(--poppins);
    margin-bottom: 25px;
    margin-right: 75px;
    cursor: pointer;
    .playerInfoWrapper{
        display: flex;
        flex-direction: column;
        .playerImage{
            height: 100px;
            width: 100px;
            border:none;
            border-radius: 10px;
            overflow: hidden;
            .playerImg{
                height:175px;
                width: 125px;
            }
        }
        .playerInformation{
            font-size: 12px;
            // margin-left: 50px;
            margin-top: 8px;
            .nameClub{
                display: grid;
                // flex-direction: row;
                grid-template-columns: auto auto;
                .playerName{
                    font-size: 16px;
                }
                .currentClub{
                    margin: auto;
                    margin-left: 0px;
                }
            }
            .age{
                margin-top: 5px;
            }
            .position{
                display: flex;
                flex-direction: row;
                // grid-template-columns: auto auto;
                margin-top: 5px;
            }
            .debutYear{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
            }
            .previousClub{
                display: flex;
                flex-direction: row;
                margin-top: 5px;
            }
            .achievements{
                display: flex;
                flex-direction: auto auto auto;
                margin-top: 8px;
                font-size: 10px;
                .total_goals{
                    // margin-left: 5px;
                }
                .total_assists{
                    margin-left: 12px;
                }
                .total_freekicks{
                    margin-left: 12px;
                }
            }
        }
    }
    .toggleButton{
        font-size: 10px;
        margin-bottom: 50px;
    }
    .heading{
        color:#6b6c6e;
    }
    .value{
        margin-left: 7px;
    }
}

@media screen and (max-width: 480px){
    .tableForm{
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px;
        width: 355px;
        background-color: #13151C;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        font-family: var(--poppins);
        margin-bottom: 25px;
        overflow: hidden;
        cursor: pointer;
        .playerInfoWrapper{
            display: flex;
            flex-direction: row;
            .playerImage{
                height: 200px;
                width: 225px;
                border:none;
                border-radius: 10px;
                overflow: hidden;
                .playerImg{
                    height:100px;
                    width: 75px;
                    border-radius: 10px;
                }
            }
            .playerInformation{
                font-size: 15px;
                margin-left: -50px;
                margin-top: 5px;
                .nameClub{
                    display: flex;
                    flex-direction: row;
                    // grid-template-columns: auto auto;
                    .playerName{
                        font-size: 15px;
                    }
                    .currentClub{
                        margin: auto;
                        margin-left: 15px;
                        font-size: 12px;
                    }
                }
                .age{
                    margin-top: 5px;
                }
                .position{
                    display: flex;
                    flex-direction: row;
                    // grid-template-columns: auto auto;
                    margin-top: 5px;
                }
                .debutYear{
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;
                }
                .previousClub{
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;
                }
                .achievements{
                    display: flex;
                    flex-direction: auto auto auto;
                    margin-top: 5px;
                    .total_goals{
                        // margin-left: 5px;
                    }
                    .total_assists{
                        margin-left: 12px;
                    }
                    .total_freekicks{
                        margin-left: 12px;
                    }
                }
            }
        }
        .toggleButton{
            font-size: 10px;
            margin-bottom: 50px;
        }
        .heading{
            color:#6b6c6e;
        }
        .value{
            margin-left: 10px;
        }
    }
    
    
    .cardForm{
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px;
        width: 185px;
        background-color: #13151C;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        font-family: var(--poppins);
        margin-bottom: 25px;
        margin-right: 12px;
        cursor: pointer;
        font-size: 12px;
        .playerInfoWrapper{
            display: flex;
            flex-direction: column;
            .playerImage{
                height: 100px;
                width: 100px;
                border:none;
                border-radius: 10px;
                margin: auto;
                overflow: hidden;
                .playerImg{
                    height:175px;
                    width: 125px;
                }
            }
            .playerInformation{
                font-size: 12px;
                // margin-left: 50px;
                margin-top: 8px;
                .nameClub{
                    display: grid;
                    // flex-direction: row;
                    grid-template-columns: auto auto;
                    .playerName{
                        font-size: 10px;
                        margin-top: 8px;
                    }
                    .currentClub{
                        margin: auto;
                        margin-left: 0px;
                        font-size: 10px;
                        margin-top:8px;
                    }
                }
                .age{
                    margin-top: 5px;
                }
                .position{
                    display: flex;
                    flex-direction: row;
                    // grid-template-columns: auto auto;
                    margin-top: 5px;
                }
                .debutYear{
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;
                }
                .previousClub{
                    display: flex;
                    flex-direction: row;
                    margin-top: 5px;
                }
                .achievements{
                    display: flex;
                    flex-direction: auto auto auto;
                    margin-top: 8px;
                    font-size: 10px;
                    .total_goals{
                        // margin-left: 5px;
                    }
                    .total_assists{
                        margin-left: 12px;
                    }
                    .total_freekicks{
                        margin-left: 12px;
                    }
                }
            }
        }
        .toggleButton{
            font-size: 10px;
            margin-bottom: 50px;
        }
        .heading{
            color:#6b6c6e;
            font-size: 10px;
        }
        .value{
            margin-left: 7px;
            font-size: 10px;
        }
    }
}