.statsCardWrapper{
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    font-family: var(--poppins);
    width: 120px;
    margin-left: 25px;
    .skillName{
        margin-top: 25px;
        margin-left: 15px;
        color: #6b6c6e;
    }
    .skillRating{
        margin-top: 20px;
        font-size: 25px;
        margin-left: 15px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 480px) {
    .statsCardWrapper{
        border: none;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        overflow: hidden;
        font-family: var(--poppins);
        min-width: 105px;
        justify-content: center;
        .skillName{
            margin-top: 25px;
            margin-left: 15px;
            color: #6b6c6e;
        }
        .skillRating{
            margin-top: 20px;
            font-size: 25px;
            margin-left: 15px;
            margin-bottom: 25px;
        }
    }
}